<ul class="nav nav-tabs">
  <li class="nav-item">
    <button class="nav-link btn btn-info" (click)="switchViewer('Typescript')">Typescript</button>
  </li>
  <li class="nav-item">
    <button class="nav-link btn btn-info" (click)="switchViewer('Template')">Template</button>
  </li>
</ul>

<div class="mb-4">
  <div class="card">
    <div class="card-header w-100 bg-dark text-white"> Código ejemplo</div>
    <span style="padding: 1rem; color:blue; white-space: pre; font-family: consolas; font-size: 0.75rem;">
      {{sourceCodeViewer}}
    </span>
  </div>
</div>
