<h2 class="bg-dark text-white p-2">Angular in a nutshell</h2>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <button mat-raised-button routerLink="/router" class="w-100 mb-2">Router</button>
      <button mat-raised-button routerLink="/if" class="w-100 mb-2">Ng If</button>
      <button mat-raised-button routerLink="/for" class="w-100 mb-2">Ng For</button>
      <button mat-raised-button routerLink="/forms" class="w-100 mb-2">Forms</button>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>