/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

p {
  font-size: 1.05rem;
}

p.content-description {
  font-size: 0.9rem;
  font-weight: bold;
  font-style: italic;
}
